/*
	Custom Css With Iqbal Nur W
	Ter gans
*/

/* Imported CSS */
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700|Catamaran:100,200,300,400,700,600,700,800,900');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
/* End Imported CSS*/


/* Default CSS*/
body{
	/*font-family: Muli,Helvetica,Arial,sans-serif;*/
	font-family: "Lora", Arial, serif;
	background-color: #fff;
	font-size: 17px;
	color: #333;
	margin: 0;
	padding: 0;
}

html,
body{
	height: 100%;
}

img{
	max-width: 100%;
	height: auto; 
}

p{
	line-height: 1.7;
	margin: 0;
	font-size: 16;	
}

h1,
h2,
h3,
h4,
h5,
h6{
	margin: 0;
	padding: 0;
}

.header h2 {
	font-family: 'Do Hyeon', sans-serif;
	font-weight: 900;
	font-size: 40px;
	letter-spacing: 4px;
	padding-bottom: 15px;
	color: #323232;
}

.header h3 {
	font-size: 20px;
	font-weight: 900
	/*color: #323232;*/
}

hr {
	width: 700px;
	border: 1px solid black;
}

/*Profile*/
.profile {
	padding-top: 30px;
}

.profile h2 {
	font-family: 'Do Hyeon', sans-serif;
	font-size: 37px;
	padding-bottom: 15px;
	font-weight: bolder; 
}

.text-profile p {
	text-align: center;
	font-size: 17px;
	font-weight: 700;
	letter-spacing: 2px;
}

/*Experience*/

.pengalaman {
	padding-top: 40px;
}

.pengalaman h2 {
	font-family: 'Do Hyeon', sans-serif;
	font-size: 37px;
	padding-bottom: 15px;
	font-weight: bolder; 
}

.text-pengalaman p {
	text-align: center;
	font-size: 17px;
	font-weight: 700;
	letter-spacing: 2px;
}

/*Contact*/
.contact {
	padding-top: 30px;
}

.contact h2 {
	font-family: 'Do Hyeon', sans-serif;
	font-size: 37px;
	padding-bottom: 15px;
	font-weight: bolder; 
}

.text-contact p {
	text-align: center;
	font-size: 17px;
	color: #323232;
	font-weight: 700;
	letter-spacing: 2px;
}